{% extends "registration/base.html" %}


{% block content %}
    <div class="animate form login_form">
        <section class="login_content">
        {% if form.errors %}
        <p>The email is required. Please try again.</p>
        {% endif %}
        <form method="post" action="{% url 'user:password_reset' %}">
            {% csrf_token %}
            <h1>Logout successful</h1>
            <div>
            You have been successfully logged out
            </div>

            <div>
                <a href="{% url 'user:login' %}">Login again</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">



            <div class="clearfix"></div>
            <br />

            <div>
                <h1>
                    <div>
                        <img src="/static/vps/img/logo-white.png" alt="ie" style="object-fit: contain;" />
                    </div>
                    <!-- <i class="fa fa-paw"></i> -->
                    <!-- Virtual Police Station -->
                </h1>
                <p>©2022 All Rights Reserved. VPS is IE Solutions product. Privacy and Terms</p>
            </div>
            </div>
        </form>
        </section>
    </div>
{% endblock content %}
