{% extends "registration/base.html" %}


{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="animate form login_form">
  <section class="login_content">
    {{ form.non_field_errors }}
    <!-- {% if form.errors %}
    <script>
      window.location.hash='signin';
    </script>
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %} -->

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <form method="post" action="{% url 'user:login' %}">
      {% csrf_token %}
      <h1>Login Form</h1>
      <div>
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{form.username.value | default:''}}" required="" />
      </div>
      <div>
        <input type="password" class="form-control" placeholder="Password" name="password" required="" />
      </div>
      <div>
        <button class="btn btn-default submit">Log in</button>
        <a class="reset_pass" href="{% url 'user:password_reset' %}">Lost your password?</a>
      </div>

      <div class="clearfix"></div>

      <div class="separator">
        <p class="change_link">New to site?
          <a href="#signup" class="to_register"> Create Account </a>
        </p>

        <div class="clearfix"></div>
        <br />

        <div>
          <h1>
            <div>
              <img src="/static/vps/logo.png" alt="ie" style="object-fit: contain;" />
            </div>
            <!-- <i class="fa fa-paw"></i> -->
            <!-- Virtual Police Station -->
          </h1>
          <p>©2022 All Rights Reserved. VPS is IE Solutions product. Privacy and Terms</p>
        </div>
      </div>
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </section>
</div>

<div id="register" class="animate form registration_form">
  <section class="login_content">
    {{ f_register.non_field_errors }}
    {% if f_register.errors %}
    <script>
      window.location.hash='signup';
    </script>
    {% endif %}
    <form method="post" action="{% url 'user:register' %}">
      {% csrf_token %}
      <h1>Create Account</h1>
      <div>
        {% if f_register.username.errors %}
        <!--prettier-ignore  -->
        {% for error in f_register.username.errors %}
        <p class="forget error">
          <i class="fa fa-exclamation-triangle"></i> {{error}}
        </p>
        {% endfor %} {% endif %}
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{f_register.username.value}}" required="" />
      </div>

      <div>
        {% if f_register.email.errors %}
        <!--prettier-ignore  -->
        {% for error in f_register.email.errors %}
        <p class="forget error">
          <i class="fa fa-exclamation-triangle"></i> {{error}}
        </p>
        {% endfor %} {% endif %}
        <input type="email" class="form-control" placeholder="Email" name="email" value="{{f_register.email.value}}" required="" />
      </div>

      <!-- <div>
        <input type="email" class="form-control" placeholder="Email" required="" />
      </div> -->
      
      <div>
        {% if f_register.password1.errors %}
        <!--prettier-ignore  -->
        {% for error in f_register.password1.errors %}
        <p class="forget error">
          <i class="fa fa-exclamation-triangle"></i> {{error}}
        </p>
        {% endfor %} {% endif %}
        <input type="password" class="form-control" placeholder="Password" name="password1" required="" />
      </div>

      <div>
        {% if f_register.password2.errors %}
        <!--prettier-ignore  -->
        {% for error in f_register.password2.errors %}
        <p class="forget error">
          <i class="fa fa-exclamation-triangle"></i> {{error}}
        </p>
        {% endfor %} {% endif %}
        <input type="password" class="form-control" placeholder="Confirm password" name="password2" required="" />
      </div>
      <div>
        <button class="btn btn-default submit" href="index.html">Submit</button>
      </div>

      <div class="clearfix"></div>

      <div class="separator">
        <p class="change_link">Already a member ?
          <a href="#signin" class="to_register"> Log in </a>
        </p>

        <div class="clearfix"></div>
        <br />

        <div>
          <h1>
            <div>
              <img src="/static/vps/logo.png" alt="ie" style="object-fit: contain;" />
            </div>
            <!-- <i class="fa fa-paw"></i> -->
            <!-- Virtual Police Station -->
          </h1>
          <p>©2022 All Rights Reserved. VPS is IE Solutions product. Privacy and Terms</p>
        </div>
      </div>
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </section>
</div>
{% endblock content %}