{% extends "registration/base.html" %}


{% block content %}
    <div class="animate form login_form">
        <section class="login_content">

        <form method="post">
        {% if validlink %}

            {% csrf_token %}
            <h1>Password Reset</h1>

            <div>
                {% if form.new_password1.errors %}
                <!--prettier-ignore  -->
                {% for error in form.new_password1.errors %}
                <p class="forget error">
                <i class="fa fa-exclamation-triangle"></i> {{error}}
                </p>
                {% endfor %} {% endif %}
                <input type="password" class="form-control" placeholder="New password" name="new_password1" required="" />
            </div>

            <div>
                {% if form.password2.errors %}
                <!--prettier-ignore  -->
                {% for error in form.password2.errors %}
                <p class="forget error">
                <i class="fa fa-exclamation-triangle"></i> {{error}}
                </p>
                {% endfor %} {% endif %}
                <input type="password" class="form-control" placeholder="New password confirmation" name="new_password2" required="" />
            </div>

            <div>
                <button class="btn btn-default submit">Reset password</button>
            </div>

            <div class="clearfix"></div>

            <div class="separator">

            <div class="clearfix"></div>
            <br />

            <div>
                <h1>
                    <div>
                        <img src="/static/vps/logo.png" alt="ie" style="object-fit: contain;" />
                    </div>
                    <!-- <i class="fa fa-paw"></i> -->
                    <!-- Virtual Police Station -->
                </h1>
                <p>©2022 All Rights Reserved. VPS is IE Solutions product. Privacy and Terms</p>
            </div>
            </div>

        {% else %}
            <h1>Invalid link</h1>

            <div class="separator">

            <div class="clearfix"></div>
            <br />

            <div>
                <h1>
                    <div>
                        <img src="/static/vps/logo.png" alt="ie" style="object-fit: contain;" />
                    </div>
                    <!-- <i class="fa fa-paw"></i> -->
                    <!-- Virtual Police Station -->
                </h1>
                <p>©2022 All Rights Reserved. VPS is IE Solutions product. Privacy and Terms</p>
            </div>
            </div>
        {% endif %}
        </form>
        </section>
    </div>
{% endblock content %}
