{% extends "registration/base.html" %}


{% block content %}
    <div class="animate form login_form">
        <section class="login_content">
        {% if form.errors %}
        <p>The email is required. Please try again.</p>
        {% endif %}
        <form method="post" action="{% url 'user:password_reset' %}">
            {% csrf_token %}
            <h1>Password Reset</h1>
            <div>
            <input type="email" class="form-control" placeholder="email" name="email" required="" />
            </div>
            <div>
            <button class="btn btn-default submit">Reset password</button>
            </div>

            <div class="clearfix"></div>

            <div class="separator">

            <div class="clearfix"></div>
            <br />

            <div>
                <h1><i class="fa fa-paw"></i> Virtual Police Station (VPS)</h1>
                <p>©2022 All Rights Reserved. VPS is IE Solutions product. Privacy and Terms</p>
            </div>
            </div>
        </form>
        </section>
    </div>
{% endblock content %}
