{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

<!-- {% comment %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}
{% endcomment %} -->

<!-- https://docs.djangoproject.com/en/4.0/intro/tutorial07/#customizing-your-project-s-templates -->
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">IE  Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
