{% load static %}
<footer class="sticky-footer bg-light">
  
    <div class="container-fluid">
      <div class="copyright text-left">
        <span>  
          <div style="color: black;">
            <h> &copy; ingenious. All rights reserved 2022</h>
          </div>
        </span> 
      </div>
    </div>

    <div class="container-fluid">
      <div class ="fixed-right" >
        <img src="{% static 'task_manager/img/ingenious logo - cropped.png' %}"
        alt="ingenious"
        width="100"
        align="right"
        style="object-fit: fill; max-width: 100%;">
      </div>
    </div>
 

</footer>








